<% @all_posts.each do |p| %>
  <div class="jumbotron">
    <% if !is_post_creator_image(p).profile_pic.attached? %>
      <div class="profile-image d-inline"><%= image_tag '34662a48c353c21fc714c9102c50b908@2x.png', class: 'm-auto' %></div>
    <% else %>
      <div class="profile-image d-inline"><%= image_tag is_post_creator_image(p).profile_pic, class: 'm-auto' %></div>
    <% end %>
    <%= is_post_creator_name(p) %>
    <small>

      <%= p.created_at.strftime("%I:%M %p, %b %d '%y") %>
    </small>
    <br>
    <%= p.content %>
    <%= link_to 'Delete post',post_path(p),method: :delete %>
    <br>
    <% p.post_pic.each do |y| %>
      <%= image_tag y.variant(resize: "100x100!") %>
    <% end %>
    <br> <br>
    <%= render 'reactions/like', p: p %>
    <div class="d-inline-block">
      <%= likes_counter(p) %>
    </div>
    <div class="d-inline-block">
      <%= dislikes_counter(p) %>
    </div>
    <%= render 'reactions/dislike', p: p %>

    <%= render p.comments %>

    <% if !current_user.profile_pic.attached? %>
      <div class="profile-image d-inline"><%= image_tag '34662a48c353c21fc714c9102c50b908@2x.png', class: 'm-auto' %></div>
    <% else %>
      <div class="profile-image d-inline"><%= image_tag current_user.profile_pic, class: 'm-auto' %></div>
    <% end %>
    <%= render 'comments/new', post_id: p %>

  </div>
<% end %>