<div class="jumbotron py-4 mr-3 mt-3">
  <%= form_with(model: post, local: true) do |f| %>
    <%#= f.label :content %>
    <div class="d-flex align-items-center">
        <div class="profile-image d-inline"><%= image_tag current_user.profile_pic, class: 'm-auto' %></div>
      <%= f.text_area :content, style: "width: 100%;height: 60px; border:0;", class: "mx-3 remove-focus" %>
    </div>
      <div class="custom-file w-50 mt-2 d-inline-block" style="margin-left: 55px">
      <div class="upload-preview">
    <img style="width:100px;margin-top:50px" />
</div>

        <%= f.file_field :post_pic, multiple: true, class: "file custom-file-input", id: "direct-upload" %>
        <label class="custom-file-label" for="direct-upload">Upload one or multiple images</label>
      </div>
      <%= f.submit "Post", style: "display: inline-block", class: "btn btn-primary float-right mt-2 mr-3 px-5",id: "direct-upload" %>


    <div class="clearfix"></div>

  <% end %>
</div>

<script>
$(document).ready(function(){
    var preview = $(".upload-preview img");

    $(".file").change(function(event){
       var input = $(event.currentTarget);
       var file = input[0].files[0];
       var reader = new FileReader();
       reader.onload = function(e){
           image_base64 = e.target.result;
           preview.attr("src", image_base64);
       };
      
       reader.readAsDataURL(file);
       
    });
});
</script>
