<div class="main-sidebar">
<div class="sidebar-icons mt-3">
<%= image_tag 'logo.png' %>
<div class="sidebar-icons-menu mt-2">
<h4><strong>Menu</strong></h4>
<ul>
<li><%= image_tag 'noun_Newspaper_772219 (1).png'%> News</li>
<li><%= image_tag 'noun_message_2043227@2x.png'%> Messages <span class="badge badge-pill badge-danger">8</span></li>
<li><%= image_tag 'noun_friends_1297819@2x.png'%> Friends</li>
<li><%= image_tag 'noun_event_1379383@2x.png'%> Events</li>
<li><%= image_tag 'Group 1119@2x.png'%> Communities</li>
<li><%= image_tag 'noun_pages_734946@2x.png'%> Pages</li>
<li><%= image_tag 'noun_Box_1276334@2x.png'%> Apps</li>
</ul>
<h4><strong>Shortcuts</strong></h4>
<ul>
<li><%= image_tag 'Google__G__Logo@2x.png'%>Google Inc.</li>
<li><%= image_tag 'Y_Combinator_logo@2x.png'%>Y Combinator</li>
<li><%= image_tag 'Amazon.com_A_Smile@2x.png'%>Amazon</li>
</ul>
</div>
</div>
</div>