<!DOCTYPE html>
<html>
<head>
  <title>Funbook</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= favicon_link_tag 'logo.png', rel: 'icon', type: 'image/png' %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body style="background-color: #f5f5f5">
<%# flash.each do |message_type, message| %>
<!--        <div class="alert alert-<%#= message_type %>"><%#= message %></div>-->
<%# end %>
<% if signed_in? %>
  <div class="sidebar">
    <%= render 'layouts/sidebar' %>
  </div>
<% end %>
<%= yield if !signed_in? %>
<% if signed_in? %>
  <div class="container-fluid clearfix p-0 mb-5" style="margin-left: 260px;width:calc(100% - 260px);">
    <div class="mid-portion">
      <%= yield %>
    </div>
    <div class="stories">

    </div>
    <%#= image_tag current_user.profile_pic %>
    <footer>
      <%= render 'layouts/footer' %>
    </footer>
  </div>
<% end %>
</body>
</html>
