<!DOCTYPE html>
<html>
  <head>
    <title>Funbook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'logo.png', rel: 'icon', type: 'image/png' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <% if signed_in? %>
      <div class="float-left sidebar">
        <%= render 'layouts/sidebar' %>
      </div>
    <% end %>
    <%= yield %>
      <% if signed_in? %>
        <div class="container w-75 float-right p-0">
          <%= yield %>
          <footer>
            <%= render 'layouts/footer' %>
          </footer>
        </div>
      <% end %>
  </body>
</html>
